{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="row justify-content-md-center">
        <div class="col-md-8">

            <h1 class="mt-5">Error 502</h1>
            <h3 class="ml-5 my-5">Service temporarily overloaded</h3>
            <h5 class="ml-5">The server encountered a temporary error and could not complete your request</h5>
            <h5 class="ml-5">Please try again or contact your system administrator</h5>

        </div>
    </div>

{% endblock content %}