{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row mt-5 mx-5">
    <div class="col text-center">
        <h4>About Terra Formus</h4>
    </div>
</div>
    
<div class="row mt-5 mx-5">
    <div class="col">
        <p>
            Guided by the mission statement, “Feasible plans withstand the burden of proof,” Terra Formus serves as a platform that organizes and assesses sustainability solutions at every level. Through comprehensive evaluation, it catalogs solutions by examining factors like scale, cost, life cycle, resource usage, and waste impact.
        </p>
        
        <p>
            Each solution can be grouped into cohesive strategies, making sustainable change actionable and attainable. By engaging in Terra Formus, users have the opportunity to contribute their own solutions and to help build scalable strategies that make a real-world impact.
        </p>
        
        <p>
            Together, we can “terra form” our world—implementing meaningful change, one thoroughly vetted solution at a time.
        </p>
    </div>
</div>


{% endblock content %}
