{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="row mt-5 mx-5">
        <div class="col text-center">
            <p>Platform under development - come back later</p>
        </div>
    </div>
    
    <div class="row mt-5 mx-5">
        <div class="col text-center">
            {% include 'table.html' %}
        </div>
    </div>
    
    <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-dark" type="submit">Save</button>
    </form>

    
{% endblock content %}
