{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="row mt-3 justify-content-center">
        <div class="col text-center">
            <p>Feasible plans withstand burden of proof<br>Platform under development - come back later</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col text-center">
            <ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
                <li class="nav-item justify-content-center" role="presentation">
                    <button aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab" data-target="#home" id="home-tab" type="button" role="tab">Solutions</button>
                </li>
                <li class="nav-item justify-content-center" role="presentation">
                    <button aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab" data-target="#profile" id="profile-tab" type="button" role="tab">Strategies</button>
                </li>
            </ul>
            <div class="tab-content" id="justifiedTabContent">
                <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
                    {% include 'solutions_table.html' %}
                </div>
                <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
                    {% include 'strategies_table.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
