{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="row mt-5 mx-5">
            <div class="col text-center">
                <span class="material-icons-outlined md-48 my-5">
                    group_work
                </span>
                <h5>Terra Formus</h5>
                <p>Platform under development - come back later</p>
{#            <h5>{{ home_page.home_title }}</h5>#}
{#            <p>{{ home_page.home_subtitle }}</p>#}
        </div>
    </div>

{% endblock content %}
