{% extends "base.html" %}
{% load static %}
{% load core_template_tags %}
{% load i18n %}

{% block content %}

    <div class="row bg-white">
        <div class="col col-12">
            {% for solution in solutions_result %}
                <div class="row justify-content-center">
                    <div class="col col-lg-6">
                        <a href="{% url 'solution' solution.uuid solution.slug %}">
                            <div class="card border-0">
                                <div class="card-body m-0 p-2">
                                    <h6 class="card-title m-0 p-0" style="font-size: 16px;">
                                        <span class="chip chip-xs rating">{{ solution.average_rating }}</span> {{ solution.title }}
                                    </h6>
                                    <p class="card-text description">{{ solution.subtitle }}<br>
                                        <span class="author-name">Author: {{ solution.user.get_full_name }}</span><br>
                                        <small><span class="created">created: {{ solution.created_at }}</span> -
                                        <span class="last-edited">edited: {{ solution.last_edited }}</span></small>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <nav aria-label="Page navigation">
        <div class="row justify-content-center">

            <div class="col-6">
                <ul class="pagination">

                    <li class="page-item {% if not solutions_result.has_previous %}disabled{% endif %}">
                        <a class="page-link" href="{% main_url_two_params 'page' 1 'rows_per_page' solutions_result.paginator.per_page request.GET.urlencode %}" aria-label="First">
                            <span aria-hidden="true">&laquo; 1</span>
                        </a>
                    </li>

                    <li class="page-item {% if not solutions_result.has_previous %}disabled{% endif %}">
                        <a class="page-link" {% if solutions_result.has_previous %}href="{% main_url_two_params 'page' solutions_result.previous_page_number 'rows_per_page' solutions_result.paginator.per_page request.GET.urlencode %}"{% endif %}>Previous</a>
                    </li>


                    {% for page_number in solutions_result.paginator.page_range %}
                        {% if solutions_result.number == page_number %}
                            <li class="page-item active">
                                <span class="page-link">{{ page_number|floatformat:'g' }}<span class="sr-only">(current)</span></span>
                            </li>
                        {% elif page_number > solutions_result.number|add:'-3' and page_number < solutions_result.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="{% main_url_two_params 'page' page_number 'rows_per_page' solutions_result.paginator.per_page request.GET.urlencode %}">{{ page_number|floatformat:'g' }}</a></li>
                        {% endif %}
                    {% endfor %}


                    <li class="page-item {% if not solutions_result.has_next %}disabled{% endif %}">
                        <a class="page-link" {% if solutions_result.has_next %}href="{% main_url_two_params 'page' solutions_result.next_page_number 'rows_per_page' solutions_result.paginator.per_page request.GET.urlencode %}"{% endif %}>Next</a>
                    </li>

                    <li class="page-item {% if not solutions_result.has_next %}disabled{% endif %}">
                        <a class="page-link" href="{% main_url_two_params 'page' solutions_result.paginator.num_pages 'rows_per_page' solutions_result.paginator.per_page request.GET.urlencode %}" aria-label="Last">
                            <span aria-hidden="true">{{ solutions_result.paginator.num_pages|floatformat:'g' }} &raquo;</span>
                        </a>
                    </li>

                 <li class="page-item p-1 ml-5">Rows per page
                        <div class="btn-group btn-group-sm ml-2" role="group" aria-label="Rows per page">
                            {% for item in possible_rows_per_page %}
                                <a class="btn btn-sm btn-outline-dark mintec-blue text-color-white {% if item == solutions_result.paginator.per_page %}disabled{% endif %}"
                                   href="{% main_url_two_params 'page' solutions_result.number 'rows_per_page' item request.GET.urlencode %}">{{ item }}</a>
                            {% endfor %}
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

{% endblock content %}



