{% extends "base.html" %}
{% load static %}
{% load core_template_tags %}
{% load i18n %}

{% block content %}

    
    <div class="row justify-content-center mt-5">
    
        <div class="col col-lg-8">
            
            <h4>Terms of Service</h4>
        
            <p>These Terms of Service ("Terms") govern your access to and use of <em>Sci-Hive</em> ("the Website") operated by <em>IDETRA</em> ("we," "us," or "our"). By accessing or using the Website, you agree to be bound by these Terms. If you do not agree to these Terms, you may not access or use the Website.</p>
        
            <h6>1. Use of the Website</h6>
        
            <p>1.1. You must be at least 18 years old or have reached the legal age of majority in your jurisdiction to use the Website. By accessing or using the Website, you represent and warrant that you are of legal age.</p>
        
            <p>1.2. You agree to use the Website only for lawful purposes and in accordance with these Terms. You are prohibited from using the Website in any manner that could damage, disable, overburden, or impair the Website, or interfere with any other party's use and enjoyment of the Website.</p>
        
            <p>1.3. You are responsible for maintaining the confidentiality of any account information, including usernames and passwords, associated with your use of the Website. You agree to notify us immediately of any unauthorized access to or use of your account.</p>
        
            <h6>2. Intellectual Property Rights</h6>
        
            <p>2.1. The Website and its entire contents, features, and functionality (including but not limited to all information, software, text, displays, images, video, and audio, and the design, selection, and arrangement thereof) are owned by <em>IDETRA</em> or its licensors and are protected by copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws.</p>
        
            <p>2.2. You are granted a limited, non-exclusive, non-transferable, revocable license to access and use the Website for your personal, non-commercial use only. You may not reproduce, distribute, modify, create derivative works of, publicly display, publicly perform, republish, download, store, or transmit any of the material on the Website, except as expressly permitted by these Terms.</p>
        
            <h6>3. User Content</h6>
        
            <p>3.1. The Website may allow you to post, submit, or otherwise make available content, including but not limited to text, images, videos, or other materials ("User Content"). By posting, submitting, or making available any User Content on or through the Website, you grant us a worldwide, non-exclusive, royalty-free, perpetual, irrevocable, and fully sublicensable license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such User Content in any form, media, or technology, whether now known or hereafter developed.</p>
        
            <p>3.2. You represent and warrant that you own or control all rights in and to the User Content and have the right to grant the license granted above to us. You agree not to post, submit, or make available any User Content that (a) is unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically, or otherwise objectionable; (b) infringes any patent, trademark, trade secret, copyright, or other intellectual property or proprietary rights of any party; or (c) contains software viruses or any other computer code, files, or programs designed to interrupt, destroy, or limit the functionality of any computer software or hardware or telecommunications equipment.</p>

            <p>However, you may post content that falls under 'fair use' or other applicable exemptions to copyright law, provided that such use is in compliance with all relevant laws and regulations.</p>

            <h6>4. Disclaimer of Warranties</h6>
        
            <p>4.1. The Website is provided on an "as is" and "as available" basis, without any warranties of any kind, either express or implied. <em>IDETRA</em> disclaims all warranties, express or implied, including but not limited to warranties of merchantability, fitness for a particular purpose, and non-infringement. <em>IDETRA</em> does not warrant that the Website will be uninterrupted or error-free, that defects will be corrected, or that the Website or the server that makes it available are free of viruses or other harmful components.</p>
        
            <h6>5. Limitation of Liability</h6>
        
            <p>5.1. In no event shall <em>IDETRA</em>, its affiliates, or their respective officers, directors, employees, or agents be liable for any indirect, incidental, special, consequential, or punitive damages, including but not limited to damages for lost profits, lost revenue, lost data, or other intangible losses, arising out of or relating to your access to or use of or inability to access or use the Website, whether based on warranty, contract, tort (including negligence), or any other legal theory, even if <em>IDETRA</em> has been informed of the possibility of such damages.</p>
        
            <h6>6. Governing Law</h6>
        
            <p>6.1. These Terms shall be governed by and construed in accordance with the laws of <em>Brazil</em>, without regard to its conflict of law principles.</p>
        
            <h6>7. Changes to Terms</h6>
        
            <p>7.1. We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will provide at least <em>30 days</em> notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

        </div>
    
    </div>
    
{% endblock content %}