{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-8">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ user_form.username.label_tag }}
                        {{ user_form.username }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ user_form.first_name.label_tag }}
                        {{ user_form.first_name }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ user_form.last_name.label_tag }}
                        {{ user_form.last_name }}
                    </div>
                </div>
{#                {{ user_form.as_p }}#}
                {{ profile_form.as_p }}
                <button class="btn btn-outline-dark" type="submit">Update</button>
            </form>
        </div>
    
    </div>
    
    <br>
    <br>

    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <a class="btn btn-outline-dark bg-light mr-3" href="{% url 'account_change_password' %}">Change password</a>
            <a class="btn btn-outline-dark bg-light" href="{% url 'account_email' %}">Change email</a>
            <a class="btn btn-outline-danger bg-light ml-3" href="{% url 'delete_account' %}">Delete account</a>
        </div>
    </div>

    <br>
    <br>


{% endblock content %}
