{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="row justify-content-center my-5">
        <div class="col-8">
            <h5>New Life Cycle</h5>
            {{ form.non_field_errors }}
            <form method="post" action="">
                {% csrf_token %}
                {{ field.errors }}
                {{ form.as_p }}
            
                <h5>Add Input</h5>

                {% for form in input_form %}
                    <div id="inputForm">
                        {{ form.as_p }}
                    </div>
                {% endfor %}
            
                {{ input_form.management_form }}
                <div class="my-5"></div>
            
                <h5>Add Waste</h5>

                {% for form in waste_form %}
                    <div id="wasteForm">
                        {{ form.as_p }}
                    </div>
                {% endfor %}
            
                {{ waste_form.management_form }}
                <div class="my-5"></div>
            
                <button class="btn btn-outline-dark" type="submit">Save</button>
            </form>       
        
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    
    <script type="text/javascript">
        $(function() {
            $('#inputForm').formset({
                prefix: '{{ input_form.prefix }}',
                formCssClass: 'dynamic-create_input_form',
                addText: 'Add another',
                deleteText: 'Remove item above'
            });
            
            $('#wasteForm').formset({
                prefix: '{{ waste_form.prefix }}',
                formCssClass: 'dynamic-create_waste_form',
                addText: 'Add another',
                deleteText: 'Remove item above'
            });
        })
        
    </script>
    
{% endblock javascript %}

