{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="row justify-content-center my-5">
        <div class="col-8">
            <h5>New External Asset</h5>
            {{ form.non_field_errors }}
            <form method="post" action="">
                {% csrf_token %}
                {{ field.errors }}
                {{ form.as_p }}
                <button class="btn btn-outline-dark" type="submit">Save</button>
            </form>       
        
        </div>
    </div>

{% endblock content %}


