{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="row justify-content-center my-5">
        <div class="col-8">
            <h5>Editing External Asset</h5>
            {{ form.non_field_errors }}
            <form method="post" action="">
                {% csrf_token %}
                {{ field.errors }}
                {{ form.as_p }}
                <button class="btn btn-outline-dark" type="submit">Save</button>
            </form>       
            

            
        </div>
    </div>

    <div class="row justify-content-center my-5">
        <div class="col-8">
            <a class="btn btn-danger" data-toggle="modal" data-target="#delete_external_asset_{{ model_name }}_{{ form.instance.pk }}">
                <span class="material-icons md-18 mr-2">delete</span> Delete
            </a>
        </div>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade" id="delete_external_asset_{{ model_name }}_{{ form.instance.pk }}" tabindex="-1" aria-labelledby="delete_datapoint" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-left">
                    <p>Are you sure you want to delete this external asset?</p>
                    <a class="btn btn-outline-danger" href="{% url 'delete_external_asset' model_name form.instance.pk %}">Yes, delete</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}