{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load core_template_tags %}

{% block content %}

    <div class="row">

        <div class="col col-md-7 mt-1">
        
            {% if message %}
                <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                    {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %}
        
            <h6 class="selectable-text">{{ solution_view.title }}</h6>
            <p>{{ solution_view.subtitle }}</p>
            <small class="text-left"><u>Author</u>: <a href="{% url 'author' solution_view.user.username %}">
                <b>{{ solution_view.user.get_full_name}}</b></a>
            <br>
                <u>Created</u>: {{ solution_view.created_at }} | Edited: {{ solution_view.last_edited }}
            </small>
            <br><br>

            {% if solution_view.user == request.user %}

                <a class="btn btn-xs btn-outline-dark bg-light mr-1" href="{% url 'edit_solution' solution_view.uuid %}">
                    <span class="material-icons md-18 mr-2">edit</span> Edit
                </a>
                
                <br>
                <br>

            {% endif %}

            <p><u>Solution Type</u>: {% for item in solution_type_bools %}<span class="badge badge-pill badge-info m-1">{{ item|replace:"_, " }}</span>{% endfor %}</p>
            <p><u>Cost type</u>: {{ solution_view.get_cost_type_display }}</p>
            <p><u>Total cost</u>: {{ solution_view.total_full_cost|floatformat:2|intcomma }}</p>
            <p><u>Goal</u>: {{ solution_view.goal }}</p>

            {% if solution_view.derives_from %}
                <p><u>Derives from</u>: <a href="{% url 'solution' solution_view.derives_from.uuid solution_view.derives_from.slug %}">{{ solution_view.derives_from }}</a></p>
            {% endif %}

            {% if solution_view.depends_on.all %}
                <p><u>Depends on</u>:</p>
                {% for sol in solution_view.depends_on.all %}
                    <p class="mt-n3"><a href="{% url 'solution' sol.uuid sol.slug %}">{{ sol }}</a></p>
                {% endfor %}
            {% endif %}

        </div>


        <div class="col col-md-5 mt-2">

            <p class="text-center text-white bg-dark">RATING</p>

            <span class="chip chip-xs rating">{{ solution_view.average_rating }}</span>
            {% if rating.all %}
                <a class="btn btn-xs btn-outline-dark px-n5" data-toggle="modal" data-target="#datapoint_ratings_{{ solution_view.id }}">View all</a>
            {% endif %}
            {% if user.is_authenticated and solution_view.user != request.user %}
                <a class="btn btn-xs btn-outline-dark bg-light" href="{% url 'rate' 'Solution' solution_view.uuid %}">Rate</a>
                <a class="btn btn-xs btn-outline-dark bg-light" href="{% url 'report' 'Solution' solution_view.uuid %}">Report</a>
            {% endif %}

            <br>
            <br>

            <p class="text-center text-white bg-dark">CLASSIFICATION</p>
            <u>Dimension Target</u>:
            {% for item in dimension_target_bools %}<span class="badge badge-pill badge-secondary m-1">{{ item|replace:"_, " }}</span>{% endfor %}
            <br>
            <u>UN Target</u>:
            {% for item in un_target_bools %}<span class="badge badge-pill badge-warning m-1">{{ item|replace:"_, " }}</span>{% endfor %}
            <br>
            <u>Sector</u>:
            {% for item in sector_bools %}<span class="badge badge-pill badge-success m-1">{{ item|replace:"_, " }}</span>{% endfor %}
            <br>
            <br>

            <p class="text-center text-white bg-dark">ASSETS</p>
            {%  for asset in external_assets %}
                {% if solution_view.user == request.user %}
                    <a class="" href="{% url 'edit_external_asset' 'solution' asset.uuid %}"><span class="material-icons md-18">edit</span></a>
                {% endif %}
                <span class="badge badge-pill badge-info">{{ asset.get_type_display }}</span>
                <a class="btn btn-xs btn-outline-dark bg-light mb-1" target="_blank" href="{{ asset.url }}">
                    <span class="material-icons md-18 mr-2">open_in_new</span>
                    {{ asset|truncatechars:42 }} </a>
                <br>
            {% endfor %}

        </div>

    </div>

    <br>
    <br>

    <div class="row">

        <div class="col col-12">

            <p><u>How this solution can be updated</u>:<br>{{ solution_view.update }}</p>

            <p><u>How this solution can be upgraded</u>:<br>{{ solution_view.upgrade }}</p>

            <p><u>How this solution can scale up</u>:<br>{{ solution_view.scale_up }}</p>

        </div>

    </div>

    <br>
    <br>


    <p class="text-center text-white bg-dark">LIFE CYCLE</p>

   <div class="row">
        <div class="col-md-4">
            <p class="text-center text-white bg-dark">BUILD</p>
            {% for lc in build_lifecycles %}
                <div class="row">
                    <div class="col">
                        <div class="vertical-center">
                            {% if solution_view.user == request.user %}
                                <a class="" href="{% url 'edit_life_cycle' lc.uuid %}">
                                    <span class="material-icons md-18 mr-1">edit</span>
                                </a>
                            {% endif %}
                            <h6 class="normalize-bottom">{{ lc.title }}</h6>
                        </div>
                        <u>Total duration</u>: {{ lc.total_duration }}<br>
                        <u>Description</u>: {{ lc.description }}<br>
                        <u>Total cost</u>: {{ lc.total_aggregated_cost|floatformat:2|intcomma }}<br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for input in lc.lifecycleinput_set.all %}
                            <u>Input</u>: <b>{{ input.resource_name }}</b><br>
                            <u>Type</u>: {{ input.get_resource_type_display }}<br>
                            <u>Unit</u>: {{ input.unit }}<br>
                            <u>Quantity</u>: {{ input.quantity }}<br>
                            <u>Ref. unit cost</u>: {{ input.reference_cost|floatformat:2|intcomma }}<br>
                            <u>Total cost</u>: {{ input.total_cost|floatformat:2|intcomma }}<br>
                            <u>Notes</u>: {{ input.notes }}<br>
                            <div class="mb-4"></div>
                        {% endfor %}
                    </div>
                    <div class="col">
                        {% for waste in lc.lifecyclewaste_set.all %}
                            <u>Waste</u>: <b>{{ waste.waste_type }}</b><br>
                            {% if waste.reusable %}<span class="badge badge-pill badge-secondary mb-1">Reusable</span><br>{% endif %}
                            {% if waste.recyclable %}<span class="badge badge-pill badge-secondary mb-1">Recyclable</span><br>{% endif %}
                            {% if waste.cradle2cradle %}<span class="badge badge-pill badge-secondary mb-1">Cradle 2 cradle</span><br>{% endif %}
                            <u>Unit</u>: {{ waste.unit }}<br>
                            <u>Quantity</u>: {{ waste.quantity }}<br>
                            <u>Ref. unit cost</u>: {{ waste.reference_cost|floatformat:2|intcomma }}<br>
                            <u>Total cost</u>: {{ waste.total_cost|floatformat:2|intcomma }}<br>
                            <u>Destination method</u>: {{ waste.destination_method }}<br>
                            <u>Notes</u>: {{ waste.notes }}<br>
                            <div class="mb-4"></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-4"></div>
            {% endfor %}
        </div>

        <div class="col-md-4">
            <p class="text-center text-white bg-dark">OPERATION</p>
            {% for lc in operation_lifecycles %}
                <div class="row">
                    <div class="col">
                        <div class="vertical-center">
                            {% if solution_view.user == request.user %}
                                <a class="" href="{% url 'edit_life_cycle' lc.uuid %}">
                                    <span class="material-icons md-18 mr-1">edit</span>
                                </a>
                            {% endif %}
                            <h6 class="normalize-bottom">{{ lc.title }}</h6>
                        </div>
                        <u>Total duration</u>: {{ lc.total_duration }}<br>
                        <u>Description</u>: {{ lc.description }}<br>
                        <u>Total cost</u>: {{ lc.total_aggregated_cost|floatformat:2|intcomma }}<br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for input in lc.lifecycleinput_set.all %}
                            <u>Input</u>: <b>{{ input.resource_name }}</b><br>
                            <u>Type</u>: {{ input.get_resource_type_display }}<br>
                            <u>Unit</u>: {{ input.unit }}<br>
                            <u>Quantity</u>: {{ input.quantity }}<br>
                            <u>Ref. unit cost</u>: {{ input.reference_cost|floatformat:2|intcomma }}<br>
                            <u>Total cost</u>: {{ input.total_cost|floatformat:2|intcomma }}<br>
                            <u>Notes</u>: {{ input.notes }}<br>
                            <div class="mb-4"></div>
                        {% endfor %}
                    </div>
                    <div class="col">
                        {% for waste in lc.lifecyclewaste_set.all %}
                            <u>Waste</u>: <b>{{ waste.waste_type }}</b><br>
                            {% if waste.reusable %}<span class="badge badge-pill badge-secondary mb-1">Reusable</span><br>{% endif %}
                            {% if waste.recyclable %}<span class="badge badge-pill badge-secondary mb-1">Recyclable</span><br>{% endif %}
                            {% if waste.cradle2cradle %}<span class="badge badge-pill badge-secondary mb-1">Cradle 2 cradle</span><br>{% endif %}
                            <u>Unit</u>: {{ waste.unit }}<br>
                            <u>Quantity</u>: {{ waste.quantity }}<br>
                            <u>Ref. unit cost</u>: {{ waste.reference_cost|floatformat:2|intcomma }}<br>
                            <u>Total cost</u>: {{ waste.total_cost|floatformat:2|intcomma }}<br>
                            <u>Destination method</u>: {{ waste.destination_method }}<br>
                            <u>Notes</u>: {{ waste.notes }}<br>
                            <div class="mb-4"></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-4"></div>
            {% endfor %}
        </div>

        <div class="col-md-4">
            <p class="text-center text-white bg-dark">END OF LIFE</p>
            {% for lc in end_lifecycles %}
                <div class="row">
                    <div class="col">
                        <div class="vertical-center">
                            {% if solution_view.user == request.user %}
                                <a class="" href="{% url 'edit_life_cycle' lc.uuid %}">
                                    <span class="material-icons md-18 mr-1">edit</span>
                                </a>
                            {% endif %}
                            <h6 class="normalize-bottom">{{ lc.title }}</h6>
                        </div>
                        <u>Total duration</u>: {{ lc.total_duration }}<br>
                        <u>Description</u>: {{ lc.description }}<br>
                        <u>Total cost</u>: {{ lc.total_aggregated_cost|floatformat:2|intcomma }}<br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for input in lc.lifecycleinput_set.all %}
                            <u>Input</u>: <b>{{ input.resource_name }}</b><br>
                            <u>Type</u>: {{ input.get_resource_type_display }}<br>
                            <u>Unit</u>: {{ input.unit }}<br>
                            <u>Quantity</u>: {{ input.quantity }}<br>
                            <u>Ref. unit cost</u>: {{ input.reference_cost|floatformat:2|intcomma }}<br>
                            <u>Total cost</u>: {{ input.total_cost|floatformat:2|intcomma }}<br>
                            <u>Notes</u>: {{ input.notes }}<br>
                            <div class="mb-4"></div>
                        {% endfor %}
                    </div>
                    <div class="col">
                        {% for waste in lc.lifecyclewaste_set.all %}
                            <u>Waste</u>: <b>{{ waste.waste_type }}</b><br>
                            {% if waste.reusable %}<span class="badge badge-pill badge-secondary mb-1">Reusable</span><br>{% endif %}
                            {% if waste.recyclable %}<span class="badge badge-pill badge-secondary mb-1">Recyclable</span><br>{% endif %}
                            {% if waste.cradle2cradle %}<span class="badge badge-pill badge-secondary mb-1">Cradle 2 cradle</span><br>{% endif %}
                            <u>Unit</u>: {{ waste.unit }}<br>
                            <u>Quantity</u>: {{ waste.quantity }}<br>
                            <u>Ref. unit cost</u>: {{ waste.reference_cost|floatformat:2|intcomma }}<br>
                            <u>Total cost</u>: {{ waste.total_cost|floatformat:2|intcomma }}<br>
                            <u>Destination method</u>: {{ waste.destination_method }}<br>
                            <u>Notes</u>: {{ waste.notes }}<br>
                            <div class="mb-4"></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-4"></div>
            {% endfor %}
        </div>

    </div>

    <div class="mb-5"></div>

    <!-- View all ratings Modal -->
    <div class="modal fade" id="datapoint_ratings_{{ solution_view.id }}" tabindex="-1" aria-labelledby="datapoint_ratings" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                    {% for item in rating %}

                        <a href="{% url 'author' item.user.username %}">{{ item.user.get_full_name }}</a> rated {{ item.rate }}<br>
                        Comment:<br>{{ item.comment }}<br><br>
                        <small>Last edited: {{ item.last_edited }}</small>
                        {% if solution_view.user == request.user %}
                            <br>
                            <a class="btn btn-xs btn-outline-dark bg-light mr-5" href="{% url 'rating_reply' item.id %}">
                                Reply
                            </a>
                        {% endif %}
                        <br><br>
                        {% if item.rating_reply %}
                            <p class="ml-5">Reply from author:<br>{{ item.rating_reply.comment }}</p>
                            <small class="ml-5">Last edited: {{ item.rating_reply.last_edited }}</small>
                        {% endif %}
                        <hr>
                        <br>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}

    <script>
        // Select all text in element on click
        window.addEventListener('DOMContentLoaded', (event) => {
            const elements = document.querySelectorAll('.selectable-text');
            elements.forEach(function(el) {
                el.addEventListener('click', function (e) {
                    window.getSelection().selectAllChildren(e.target);
                });
            });
        });
    </script>
    
{% endblock javascript %}
