{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load core_template_tags %}

{% block content %}
    
    <div class="row">
    
        <div class="col col-7 mt-1">
             <h6 class="selectable-text">{{ solution_view.title }}</h6>
{#            <p>{{ solution_view.description }}</p>#}
            <p class="text-left">Author: <a href="{% url 'author' solution_view.user.username %}">
                <b>{{ solution_view.user.get_full_name}}</b></a>
            <br>
                <small>Created: {{ solution_view.created_at }} | Edited: {{ solution_view.last_edited }}</small>
            </p>
        
            {% if solution_view.user == request.user %}

                <a class="btn btn-xs btn-outline-dark bg-light mr-1" href="{% url 'edit_solution' solution_view.uuid %}">
                    <span class="material-icons md-18 mr-2">edit</span> Edit
                </a>
                <a class="btn btn-xs btn-danger" data-toggle="modal" data-target="#delete_solution_{{ solution_view.slug }}">
                    <span class="material-icons md-18 mr-2">delete</span> Delete
                </a>
                <br><br>
                <!-- Delete Modal -->
                <div class="modal fade" id="delete_solution_{{ solution_view.slug }}" tabindex="-1" aria-labelledby="delete_solution" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body text-left">
                                <p>Are you sure you want to delete the solution</p>
                                <p>"{{ solution_view.title }}" ?</p>
                                <p>This may lead to discontinuity:</p>
                                <p>- All connections that depend on this solution will be severed</p>
                                <a class="btn btn-outline-danger" href="{% url 'delete_solution' solution_view.uuid %}">Yes, delete</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

            <p>
                Solution Type: {% for item in solution_type_bools %}<span class="badge badge-pill badge-info m-1">{{ item|replace:"_, " }}</span>{% endfor %} 
            </p>

            <p>Cost type: {{ solution_view.get_cost_type_display }}</p>        
            <p>Goal: {{ solution_view.goal }}</p>
        
            {% if solution_view.derives_from %}
                <p>Derives from: <a href="{% url 'solution' solution_view.derives_from.uuid solution_view.derives_from.slug %}">{{ solution_view.derives_from }}</a></p>
            {% endif %}
        
            {% if solution_view.depends_on.all %}
                Depends on:
                {% for sol in solution_view.depends_on.all %}
                    <p><a href="{% url 'solution' sol.uuid sol.slug %}">{{ sol }}</a></p>
                {% endfor %}
            {% endif %}
            
        </div>
    
        
        <div class="col col-5 mt-2">
            
            <p class="text-center text-white bg-dark">RATING</p>

            <span class="chip chip-xs rating">{{ solution_view.average_rating }}</span>
            <a class="btn btn-xs btn-outline-dark px-n5" data-toggle="modal" data-target="#datapoint_ratings_{{ solution_view.id }}">View all</a>
            {% if user.is_authenticated and solution_view.user != request.user%}
                <a class="btn btn-xs btn-outline-dark bg-light" href="{% url 'rate' solution_view.slug %}">Rate</a>
                <a class="btn btn-xs btn-outline-dark bg-light" href="{% url 'report' solution_view.slug %}">Report</a>
            {% endif %}

            <br>
            <br>
            
            <p class="text-center text-white bg-dark">CLASSIFICATION</p>
            Dimension Target:
            {% for item in dimension_target_bools %}<span class="badge badge-pill badge-secondary m-1">{{ item|replace:"_, " }}</span>{% endfor %}    
            <br>
            UN Target:
            {% for item in un_target_bools %}<span class="badge badge-pill badge-warning m-1">{{ item|replace:"_, " }}</span>{% endfor %}    
            <br>
            Sector:
            {% for item in sector_bools %}<span class="badge badge-pill badge-success m-1">{{ item|replace:"_, " }}</span>{% endfor %}    
            <br>
            <br>
        
            <p class="text-center text-white bg-dark">ASSETS</p>
            {%  for asset in external_assets %}
                <span class="badge badge-pill badge-info">{{ asset.get_type_display }}</span>
                <a class="btn btn-xs btn-outline-dark bg-light mb-1" target="_blank" href="{{ asset.url }}">
                    <span class="material-icons md-18 mr-2">open_in_new</span>
                    {{ asset|truncatechars:45 }} </a>
                <br>
            {% endfor %}
        
        </div>
    
    </div>
    
    <br>
    <br>
    
    <div class="row">
    
        <div class="col col-12">
            
            How this solution can be updated
            <p>{{ solution_view.update }}</p>
        
            How this solution can be upgraded
            <p>{{ solution_view.upgrade }}</p>
        
            How this solution can scale up
            <p>{{ solution_view.scale_up }}</p>
            
        </div>
    
    </div>
    
    <br>
    <br>
    
    
    <p class="text-center text-white bg-dark">LIFE CYCLE</p>
    
   <div class="row">
        <div class="col-md-4">
            {% for lc in build_lifecycles %}    
                <p class="text-center text-white bg-dark">BUILD</p>
                <div class="row">
                    <div class="col">
                        {{ lc.title }}<br>
                        Total duration: {{ lc.total_duration }}<br>
                        Description: {{ lc.description }}<br>
                        Total cost: ???<br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for input in lc.lifecycleinput_set.all %}
                            Input: {{ input.resource_name }}<br>
                            Type: {{ input.get_resource_type_display }}<br>
                            Unit: {{ input.unit }}<br>
                            Quantity: {{ input.quantity }}<br>
                            Ref. unit cost: {{ input.reference_cost }}<br>
                            Total cost: ???<br>
                            Notes: {{ input.notes }}<br>
                        {% endfor %}
                    </div>
                    <div class="col">
                        {% for waste in lc.lifecyclewaste_set.all %}
                            Waste: {{ waste.waste_type }}<br>
                            {% if waste.reusable %}<span class="badge badge-pill badge-secondary mb-1">Reusable</span><br>{% endif %}
                            {% if waste.recyclable %}<span class="badge badge-pill badge-secondary mb-1">Recyclable</span><br>{% endif %}
                            {% if waste.cradle2cradle %}<span class="badge badge-pill badge-secondary mb-1">Cradle 2 cradle</span><br>{% endif %}
                            Unit: {{ waste.unit }}<br>
                            Quantity: {{ waste.quantity }}<br>
                            Ref. unit cost: {{ waste.reference_cost }}<br>
                            Total cost: ???<br>
                            Destination method: {{ waste.destination_method }}<br>
                            Notes: {{ waste.notes }}<br>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
   
        <div class="col-md-4">
            {% for lc in operation_lifecycles %}
                <p class="text-center text-white bg-dark">OPERATION</p>
                <div class="row">
                    <div class="col">
                        {{ lc.title }}<br>
                        Total duration: {{ lc.total_duration }}<br>
                        Description: {{ lc.description }}<br>
                        Total cost: ???<br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for input in lc.lifecycleinput_set.all %}
                            Input: {{ input.resource_name }}<br>
                            Type: {{ input.get_resource_type_display }}<br>
                            Unit: {{ input.unit }}<br>
                            Quantity: {{ input.quantity }}<br>
                            Ref. unit cost: {{ input.reference_cost }}<br>
                            Total cost: ???<br>
                            Notes: {{ input.notes }}<br>
                        {% endfor %}
                    </div>
                    <div class="col">
                        {% for waste in lc.lifecyclewaste_set.all %}
                            Waste: {{ waste.waste_type }}<br>
                            {% if waste.reusable %}<span class="badge badge-pill badge-secondary mb-1">Reusable</span><br>{% endif %}
                            {% if waste.recyclable %}<span class="badge badge-pill badge-secondary mb-1">Recyclable</span><br>{% endif %}
                            {% if waste.cradle2cradle %}<span class="badge badge-pill badge-secondary mb-1">Cradle 2 cradle</span><br>{% endif %}
                            Unit: {{ waste.unit }}<br>
                            Quantity: {{ waste.quantity }}<br>
                            Ref. unit cost: {{ waste.reference_cost }}<br>
                            Total cost: ???<br>
                            Destination method: {{ waste.destination_method }}<br>
                            Notes: {{ waste.notes }}<br>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
   
        <div class="col-md-4">
            {% for lc in end_lifecycles %}
                <p class="text-center text-white bg-dark">END OF LIFE</p>
                <div class="row">
                    <div class="col">
                        {{ lc.title }}<br>
                        Total duration: {{ lc.total_duration }}<br>
                        Description: {{ lc.description }}<br>
                        Total cost: ???<br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for input in lc.lifecycleinput_set.all %}
                            Input: {{ input.resource_name }}<br>
                            Type: {{ input.get_resource_type_display }}<br>
                            Unit: {{ input.unit }}<br>
                            Quantity: {{ input.quantity }}<br>
                            Ref. unit cost: {{ input.reference_cost }}<br>
                            Total cost: ???<br>
                            Notes: {{ input.notes }}<br>
                        {% endfor %}
                    </div>
                    <div class="col">
                        {% for waste in lc.lifecyclewaste_set.all %}
                            Waste: {{ waste.waste_type }}<br>
                            {% if waste.reusable %}<span class="badge badge-pill badge-secondary mb-1">Reusable</span><br>{% endif %}
                            {% if waste.recyclable %}<span class="badge badge-pill badge-secondary mb-1">Recyclable</span><br>{% endif %}
                            {% if waste.cradle2cradle %}<span class="badge badge-pill badge-secondary mb-1">Cradle 2 cradle</span><br>{% endif %}
                            Unit: {{ waste.unit }}<br>
                            Quantity: {{ waste.quantity }}<br>
                            Ref. unit cost: {{ waste.reference_cost }}<br>
                            Total cost: ???<br>
                            Destination method: {{ waste.destination_method }}<br>
                            Notes: {{ waste.notes }}<br>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mb-5"></div>

    <!-- View all ratings Modal -->
    <div class="modal fade" id="datapoint_ratings_{{ solution_view.id }}" tabindex="-1" aria-labelledby="datapoint_ratings" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                    {% for item in rating %}

                        <a href="{% url 'author' item.user.username %}">{{ item.user.get_full_name }}</a> rated {{ item.rate }}<br>
                        Comment:<br>{{ item.comment }}<br><br>
                        <small>Last edited: {{ item.last_edited }}</small>
                        {% if solution_view.user == request.user %}
                            <br>
                            <a class="btn btn-xs btn-outline-dark bg-light mr-5" href="{% url 'rating_reply' item.id %}">
                                Reply
                            </a>
                        {% endif %}
                        <br><br>
                        {% if item.rating_reply %}
                            <p class="ml-5">Reply from author:<br>{{ item.rating_reply.comment }}</p>
                            <small class="ml-5">Last edited: {{ item.rating_reply.last_edited }}</small>
                        {% endif %}
                        <hr>
                        <br>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}

    <script>
        // Select all text in element on click
        window.addEventListener('DOMContentLoaded', (event) => {
            const elements = document.querySelectorAll('.selectable-text');
            elements.forEach(function(el) {
                el.addEventListener('click', function (e) {
                    window.getSelection().selectAllChildren(e.target);
                });
            });
        });
    </script>
    
{% endblock javascript %}
