{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="row mt-4">

        <div class="col-md-3">

            {#            <button class="btn btn-xs btn-outline-dark bg-light" onclick="goBack()">Back</button><br><br>#}
        
            <p class="text-center text-white bg-dark">RATING</p>

            <span class="chip chip-xs rating">{{ solution_view.average_rating }}</span>
            <a class="btn btn-xs btn-outline-dark px-n5" data-toggle="modal" data-target="#datapoint_ratings_{{ solution_view.id }}">View all</a>
            {% if user.is_authenticated and solution_view.user != request.user%}
                <a class="btn btn-xs btn-outline-dark bg-light" href="{% url 'rate' solution_view.slug %}">Rate</a>
                <a class="btn btn-xs btn-outline-dark bg-light" href="{% url 'report' solution_view.slug %}">Report</a>
            {% endif %}

            <br>
            <br>
        

        </div>

        <div class="col-md-6">
        
            <h6 class="selectable-text">{{ solution_view.title }}</h6>
            <p>{{ solution_view.description }}</p>
{#            Unique ID: <span class="selectable-text bg-light">{{ solution_view.unique_id }}</span>#}
            <p class="text-left">Author: <a href="{% url 'author' solution_view.user.username %}">
                <b>{{ solution_view.user.get_full_name}}</b></a>
            <br>
                <small>Created: {{ solution_view.created_at }} | Edited: {{ solution_view.last_edited }}</small>
            </p>

            {% if solution_view.user == request.user %}
                <div class="row mb-3">
                    <div class="col text-center">

                        <a class="btn btn-xs btn-outline-dark bg-light mr-5" href="{% url 'edit_solution' solution_view.uuid %}">
                            <span class="material-icons md-18 mr-2">edit</span> Edit
                        </a>

                        <a class="btn btn-xs btn-danger ml-5" data-toggle="modal" data-target="#delete_solution_{{ solution_view.slug }}">
                            <span class="material-icons md-18 mr-2">delete</span> Delete
                        </a>

                        <!-- Delete Modal -->
                        <div class="modal fade" id="delete_solution_{{ solution_view.slug }}" tabindex="-1" aria-labelledby="delete_solution" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body text-left">
                                        <p>Are you sure you want to delete the solution</p>
                                        <p>"{{ solution_view.title }}" ?</p>
                                        <p>This may lead to discontinuity:</p>
                                        <p>- All connections that depend on this solution will be severed</p>
                                        <a class="btn btn-outline-danger" href="{% url 'delete_solution' solution_view.uuid %}">Yes, delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <p>{{ solution_view.goal }}</p>
            <p>{{ solution_view.automation }}</p>
            
        
            <br>
        
        </div>

        <div class="col-md-3">

            
        </div>

    </div>



    <!-- View all ratings Modal -->
    <div class="modal fade" id="datapoint_ratings_{{ solution_view.id }}" tabindex="-1" aria-labelledby="datapoint_ratings" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                    {% for item in rating %}

                        <a href="{% url 'author' item.user.username %}">{{ item.user.get_full_name }}</a> rated {{ item.rate }}<br>
                        Comment:<br>{{ item.comment }}<br><br>
                        <small>Last edited: {{ item.last_edited }}</small>
                        {% if solution_view.user == request.user %}
                            <br>
                            <a class="btn btn-xs btn-outline-dark bg-light mr-5" href="{% url 'rating_reply' item.id %}">
                                Reply
                            </a>
                        {% endif %}
                        <br><br>
                        {% if item.rating_reply %}
                            <p class="ml-5">Reply from author:<br>{{ item.rating_reply.comment }}</p>
                            <small class="ml-5">Last edited: {{ item.rating_reply.last_edited }}</small>
                        {% endif %}
                        <hr>
                        <br>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}

    <script>
        // Select all text in element on click
        window.addEventListener('DOMContentLoaded', (event) => {
            const elements = document.querySelectorAll('.selectable-text');
            elements.forEach(function(el) {
                el.addEventListener('click', function (e) {
                    window.getSelection().selectAllChildren(e.target);
                });
            });
        });
    </script>
    
{% endblock javascript %}
