{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="row justify-content-center my-5">
        <div class="col-8">
            <h5>New Strategy</h5>
            {{ form.non_field_errors }}
            <form method="post" action="">
                {% csrf_token %}
                {{ field.errors }}
                {{ form.as_p }}
            
                <h5>Add Solutions</h5>

                {% for form in strategy_solution_formset %}
                    <div id="solutionFormset">
                        {{ form.as_p }}
                    </div>
                {% endfor %}
            
                {{ strategy_solution_formset.management_form }}
                <div class="my-5"></div>
                <button class="btn btn-outline-dark" type="submit">Save</button>
            </form>       
        
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    
    <script type="text/javascript">
        $(function() {
            $('#solutionFormset').formset({
                prefix: '{{ strategy_solution_formset.prefix }}',
                formCssClass: 'dynamic-strategy_solution_formset',
                addText: 'Add another',
                deleteText: 'Remove item above'
            });
        })
        
    </script>
    
{% endblock javascript %}

