{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="row justify-content-center my-5">
        <div class="col-8">
            <h5>Edit Strategy</h5>
            {{ form.non_field_errors }}
            <form method="post" action="">
                {% csrf_token %}
                {{ field.errors }}
                {{ form.as_p }}
            
                <h5>Edit Solutions</h5>

                {% for form in strategy_solution_formset %}
                    <div class="solutionForm">
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        {{ form.as_p }}
                    </div>
                {% endfor %}
            
                {{ strategy_solution_formset.management_form }}
                <div class="my-5"></div>
                <button class="btn btn-outline-dark" type="submit">Save</button>
            </form>       
        
        </div>
    </div>

    <div class="row justify-content-center my-5">
        <div class="col-8">
            <a class="btn btn-danger" data-toggle="modal" data-target="#delete_life_cycle_{{ form.instance.pk }}">
                <span class="material-icons md-18 mr-2">delete</span> Delete
            </a>
        </div>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade" id="delete_life_cycle_{{ form.instance.pk }}" tabindex="-1" aria-labelledby="delete_datapoint" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-left">
                    <p>Are you sure you want to delete this life cycle instance and all its assets?</p>
                    <a class="btn btn-outline-danger" href="{% url 'delete_strategy' form.instance.uuid %}">Yes, delete</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

{% block javascript %}
    
<script type="text/javascript">
        $(function() {
            let solutionOptions = {
                prefix: "{{ strategy_solution_formset.prefix }}",
                formCssClass: "solutionForm",
                deleteCssClass: "delete-strategy_solution_formset",
                addCssClass: "add-strategy_solution_formset",
                added: updateSolutionNumForms,
                removed: updateSolutionNumForms,
                addText: 'Add another',
                deleteText: 'Remove item above'
            }
    
            $('.solutionForm').formset(solutionOptions);

    
            function updateSolutionNumForms() {
                let totalForms = $("#id_" + solutionOptions.prefix + "-TOTAL_FORMS");
                let numForms = $('.' + solutionOptions.formCssClass).length;
                totalForms.val(numForms);
            }

        })
    </script>
    
{% endblock javascript %}

