{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block content %}

    <div class="row">

        <div class="col col-md-7 mt-1">
            
            {% if message %}
                <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                    {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %}
        
            <h6 class="selectable-text">{{ strategy_view.title }}</h6>
            <small class="text-left"><u>Author</u>: <a href="{% url 'author' strategy_view.user.username %}">
                <b>{{ strategy_view.user.get_full_name}}</b></a>
            <br>
                <u>Created</u>: {{ strategy_view.created_at }} | Edited: {{ strategy_view.last_edited }}
            </small>
            <br><br>
        
            {% if strategy_view.user == request.user %}

                <a class="btn btn-xs btn-outline-dark bg-light mr-1" href="{% url 'edit_strategy' strategy_view.uuid %}">
                    <span class="material-icons md-18 mr-2">edit</span> Edit
                </a>
                <a class="btn btn-xs btn-danger" data-toggle="modal" data-target="#delete_solution_{{ strategy_view.slug }}">
                    <span class="material-icons md-18 mr-2">delete</span> Delete
                </a>
                <br><br>
                <!-- Delete Modal -->
                <div class="modal fade" id="delete_solution_{{ strategy_view.slug }}" tabindex="-1" aria-labelledby="delete_solution" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body text-left">
                                <p>Are you sure you want to delete the strategy</p>
                                <p>"{{ strategy_view.title }}" ?</p>
                                <p>This may lead to discontinuity:</p>
                                <p>- All connections that depend on this strategy will be severed</p>
                                <a class="btn btn-outline-danger" href="{% url 'delete_solution' strategy_view.uuid %}">Yes, delete</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}
        
            <p><u>Total cost</u>: {{ strategy_view.total_full_cost|floatformat:2|intcomma }}</p>
        
            <p><u>Goal</u>: {{ strategy_view.goal }}</p>
        
            <p><u>Definitions</u>: {{ strategy_view.definitions }}</p>
        
        </div>
        
        <div class="col col-md-5 mt-2">
        
            <p class="text-center text-white bg-dark">RATING</p>

            <span class="chip chip-xs rating">{{ strategy_view.average_rating }}</span>
            {% if rating.all %}
                <a class="btn btn-xs btn-outline-dark px-n5" data-toggle="modal" data-target="#datapoint_ratings_{{ strategy_view.id }}">View all</a>
            {% endif %}
            {% if user.is_authenticated and strategy_view.user != request.user %}
                <a class="btn btn-xs btn-outline-dark bg-light" href="{% url 'rate' 'Strategy' strategy_view.uuid %}">Rate</a>
                <a class="btn btn-xs btn-outline-dark bg-light" href="{% url 'report' 'Strategy' strategy_view.uuid %}">Report</a>
            {% endif %}
        
            <br>
            <br>
        
            <p class="text-center text-white bg-dark">ASSETS</p>
            {%  for asset in external_assets %}
                {% if strategy_view.user == request.user %}
                    <a class="" href="{% url 'edit_external_asset' 'solution' asset.uuid %}"><span class="material-icons md-18">edit</span></a>
                {% endif %}
                <span class="badge badge-pill badge-info">{{ asset.get_type_display }}</span>
                <a class="btn btn-xs btn-outline-dark bg-light mb-1" target="_blank" href="{{ asset.url }}">
                    <span class="material-icons md-18 mr-2">open_in_new</span>
                    {{ asset|truncatechars:42 }} </a>
                <br>
            {% endfor %}
        
        </div>

    </div>
    
    <br>
    <br>
    
    <div class="row">
        <div class="col col-12">
            <p><u>Solutions</u>:</p>
            {% for solution in strategy_view.solutions.all %}
                <p class="mt-n1">Title: <a href="{% url 'solution' solution.solution.uuid solution.solution.slug %}">{{ solution.solution.title }}</a></p>
                <p class="mt-n3">Cost: {{ solution.solution.total_full_cost|floatformat:2|intcomma }}</p>
                <p class="mt-n3">Notes: {{ solution.notes }}</p>
                <br>
            {% endfor %}
        </div>
    </div>


    <!-- View all ratings Modal -->
    <div class="modal fade" id="datapoint_ratings_{{ strategy_view.id }}" tabindex="-1" aria-labelledby="datapoint_ratings" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                    {% for item in rating %}

                        <a href="{% url 'author' item.user.username %}">{{ item.user.get_full_name }}</a> rated {{ item.rate }}<br>
                        Comment:<br>{{ item.comment }}<br><br>
                        <small>Last edited: {{ item.last_edited }}</small>
                        {% if strategy_view.user == request.user %}
                            <br>
                            <a class="btn btn-xs btn-outline-dark bg-light mr-5" href="{% url 'rating_reply' item.id %}">
                                Reply
                            </a>
                        {% endif %}
                        <br><br>
                        {% if item.rating_reply %}
                            <p class="ml-5">Reply from author:<br>{{ item.rating_reply.comment }}</p>
                            <small class="ml-5">Last edited: {{ item.rating_reply.last_edited }}</small>
                        {% endif %}
                        <hr>
                        <br>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}

    <script>
        // Select all text in element on click
        window.addEventListener('DOMContentLoaded', (event) => {
            const elements = document.querySelectorAll('.selectable-text');
            elements.forEach(function(el) {
                el.addEventListener('click', function (e) {
                    window.getSelection().selectAllChildren(e.target);
                });
            });
        });
    </script>
    
{% endblock javascript %}
