.site_icon{
    margin-right:15px;
}

.material-icons.red {
    color: #FF0000;
}


.navdrawer-open-persistent {
    /*margin-left: 257px;*/
    /*transform: translatex(257px);*/

}

.navdrawer-open-persistent .main-content {
    transform: translatex(257px);

}

.main-content {
    transition: transform 0.3s linear;
}

